blinker==1.9.0
cffi==2.0.0
click==8.3.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
numpy==2.4.0
pycparser==2.23
scikit-learn==1.8.0
scipy==1.16.3
soundfile==0.13.1
threadpoolctl==3.6.0
Werkzeug==3.1.5
